/* Navbar */

body {
  box-sizing: border-box !important;
}

.bg-light {
  background: #aa90da !important;
}

nav {
  box-shadow: 1px 0 0 2px orange !important;
}

.navbar-toggler {
  border-color: orange !important;
  border: 1px solid thick;
}

.nav-link:hover {
  color: orange !important;
}

.nav-link {
  color: white !important;
}

.nav-item {
  float: right !important;
}

.navbar-brand {
  color: white !important;
}

button:focus {
  outline-color:orange !important;
}

.navbar-toggler-icon {
  color: red !important;
}

.dropdown-menu {
  border: 1px solid orange !important;
}

.dropdown-item:hover {
  background-color: #fff0d6 !important;
}

.dropdown-divider {
  margin: 0 !important
}


/* Footer */
.footer {
  height: 150px;
  background-color: #aa90da;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px -2px 0px 0px  orange;
}

.jumbotron {
  background-color: #ffffff !important;
  border: 1px solid orange !important;
  color: orange;
}