/* Navbar */

body {
  box-sizing: border-box !important;
  
}

/* HomePage */
.allheaders {
  margin-top: 40px;
  margin-bottom: 40px;
}

.headers {
  text-decoration: none;
  color: #ffa500;
}

.headers:hover {
  color: #aa90da;
}


.back {
  background-image: url('images/p4.jpg');
  /* background-color: #fff0d6; */
  background-size: cover;
  height: 600px;
  border: 1px solid #ffa500;
  color: #ffffff;
  border-radius: 5px;
  /* filter: blur(4px);
  -webkit-filter: blur(4px); */
}

.bg-light {
  background: #aa90da !important;
}

nav {
  box-shadow: 1px 0 0 2px #ffa500 !important;
}

.navbar-toggler {
  border-color: #ffa500 !important;
  border: 1px solid thick;
}

.nav-link:hover {
  color: #ffa500 !important;
}

.nav-link {
  color: white !important;
}

.nav-item {
  float: right !important;
}

.navbar-brand {
  color: white !important;
}

button:focus {
  outline-color:#ffa500 !important;
}

.navbar-toggler-icon {
  color: red !important;
}

.dropdown-menu {
  border: 1px solid #ffa500 !important;
}

.dropdown-item:hover {
  background-color: #fff0d6 !important;
}

.dropdown-divider {
  margin: 0 !important
}


/* Footer */
.footer {
  height: 150px;
  background-color: #aa90da;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px -2px 0px 0px  #ffa500;
  margin-top: 20px;
}

.jumbotron {
  background-color: #ffffff !important;
  border: 1px solid #ffa500 !important;
  color: #ffa500;
}

/* images  */

.d-block {
  border: 1px solid #ffa500 !important;
  border-radius: 20px;
}

/* list group */
.list-group > ol, ul {
  color:  #aa90da !important;
}


.list-group-item {
  border: 1px solid #ffa500 !important;
} 

.list-group-item > a {
  text-decoration: none;
  color: #aa90da !important;
}

.list-group-item > a:hover {
  text-decoration: none;
  color: #ffffff!important;
}

.list-group-item:hover {
  background-color: #aa90da !important;
  color: white !important;
}

.mycolor {
  color: #aa90da;
}